<head>
  <title>Budget App</title>
  <%= stylesheet_link_tag 'sign_up' %>
  <script src="https://kit.fontawesome.com/ecb44d8fff.js" crossorigin="anonymous"></script>
</head>
<body class="signup_screen_body">

  <%= form_with model: @group, url: groups_path, method: :post do |f|%>
    <div class="signup_screen_nav">
      <%= link_to groups_path, class:"back-icon" do %>
        <i class="fa-sharp fa-solid fa-arrow-left-long"></i>
      <% end %>
      <h2 class="signup_screen_title">Create Category</h2>
      <div class="signup_screen_submit_button">
        <%= f.submit 'Create'%> 
      </div>
    </div>
    <div class="signup_screen_fields">
      <div class="signup_field">
        <%= f.text_field :name, placeholder: 'Name' %>
      </div>

      <div class="url_placeholder">
        <%= f.text_field :icon, placeholder: 'Icon URL' %>
      </div>
    <div>

  <%end%>
</body>