<head>
  <title>Budget App</title>
  <%= stylesheet_link_tag 'log_in' %>
  <script src="https://kit.fontawesome.com/ecb44d8fff.js" crossorigin="anonymous"></script>
</head>

<body class="login_screen_body">
<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "login_screen_form" }) do |f| %>
  <div class="login_screen_nav">
    <%= link_to root_path, class:"back-icon" do %>
      <i class="fa-sharp fa-solid fa-arrow-left-long"></i>
    <% end %>
    <h2 class="login_screen_title">Login</h2>
    <div class="login_screen_submit_button">
      <%= f.submit "Log in" %>
    </div>
  </div>

  <div class="login_screen_fields">
    <div class="login_field">
      <%= f.email_field :email, placeholder: "Email", autofocus: true, autocomplete: "email" %>
    </div>

    <div class="login_field">
      <%= f.password_field :password, placeholder: "Password", autocomplete: "current-password" %>
    </div>

    <% if devise_mapping.rememberable? %>
    <div class="remenber_field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  </div>
  
  <% end %>
<% end %>

<p><%= link_to "Forgot your password?", new_password_path(resource_name), class: "password-reset-link" %></p>

</body>


